.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.select-container {
  display: flex;
  gap: 10px;
}

select {
  padding: 5px;
}

button {
  padding: 8px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
